[submodule "pico-sdk"]
	path = pico-sdk
	url = https://github.com/raspberrypi/pico-sdk.git
[submodule "games/doom-tiny/doom-pico"]
	path = games/doom-tiny/doom-pico
	url = https://github.com/Gualor/doom-pico.git
